
.alert {
    text-align: left;
    max-width: 50rem;
    margin: 0 auto;
    margin-top: 3rem;
}

.card-group {

    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;

}

.character-card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
}

/* Adjust the size of the CharacterCard component as needed */
.character-card-grid .character-card {
    width: 200px;
}
